create table {{prefix}}{{blog_id}}_commentmeta
(
    meta_id    integer             not null
        primary key autoincrement,
    comment_id integer default '0' not null,
    meta_key   text    default NULL,
    meta_value text
);
-- break --
create index commetmeta_comment_id_blog_{{prefix}}{{blog_id}}
    on {{prefix}}{{blog_id}}_commentmeta (comment_id);
-- break --
create index commentmeta_meta_key_{{prefix}}{{blog_id}}
    on {{prefix}}{{blog_id}}_commentmeta (meta_key);
-- break --
create table {{prefix}}{{blog_id}}_comments
(
    comment_ID           integer                               not null
        primary key autoincrement,
    comment_post_ID      integer default '0'                   not null,
    comment_author       text                                  not null,
    comment_author_email text    default ''                    not null,
    comment_author_url   text    default ''                    not null,
    comment_author_IP    text    default ''                    not null,
    comment_date         text    default '0000-00-00 00:00:00' not null,
    comment_date_gmt     text    default '0000-00-00 00:00:00' not null,
    comment_content      text                                  not null,
    comment_karma        integer default '0'                   not null,
    comment_approved     text    default '1'                   not null,
    comment_agent        text    default ''                    not null,
    comment_type         text    default 'comment'             not null,
    comment_parent       integer default '0'                   not null,
    user_id              integer default '0'                   not null
);
-- break --
create index comments_comment_approved_date_gmt_{{prefix}}{{blog_id}}
    on {{prefix}}{{blog_id}}_comments (comment_approved, comment_date_gmt);
-- break --
create index comments_comment_author_email_{{prefix}}{{blog_id}}
    on {{prefix}}{{blog_id}}_comments (comment_author_email);
-- break --
create index comments_comment_date_gmt_{{prefix}}{{blog_id}}
    on {{prefix}}{{blog_id}}_comments (comment_date_gmt);
-- break --
create index comments_comment_parent_{{prefix}}{{blog_id}}
    on {{prefix}}{{blog_id}}_comments (comment_parent);
-- break --
create index comments_comment_post_ID_{{prefix}}{{blog_id}}
    on {{prefix}}{{blog_id}}_comments (comment_post_ID);
-- break --
INSERT INTO {{prefix}}{{blog_id}}_comments (comment_post_ID, comment_author, comment_author_email, comment_author_url, comment_author_IP, comment_date, comment_date_gmt, comment_content, comment_karma, comment_approved, comment_agent, comment_type, comment_parent, user_id) VALUES (1, 'A WordPress Commenter', 'wapuu@wordpress.example', 'http://example.com/', '', '2023-07-21 15:34:46', '2023-07-21 15:34:46', 'Hi, this is a comment.
To get started with moderating, editing, and deleting comments, please visit the Comments screen in the dashboard.
Commenter avatars come from <a href="https://en.gravatar.com/">Gravatar</a>.', 0, '1', '', 'comment', 0, 0);
-- break --
create table {{prefix}}{{blog_id}}_links
(
    link_id          integer                               not null
        primary key autoincrement,
    link_url         text    default ''                    not null,
    link_name        text    default ''                    not null,
    link_image       text    default ''                    not null,
    link_target      text    default ''                    not null,
    link_description text    default ''                    not null,
    link_visible     text    default 'Y'                   not null,
    link_owner       integer default '1'                   not null,
    link_rating      integer default '0'                   not null,
    link_updated     text    default '0000-00-00 00:00:00' not null,
    link_rel         text    default ''                    not null,
    link_notes       text                                  not null,
    link_rss         text    default ''                    not null
);
-- break --
create index links_link_visible_{{prefix}}{{blog_id}}
    on {{prefix}}{{blog_id}}_links (link_visible);
-- break --
create table {{prefix}}{{blog_id}}_options
(
    option_id    integer            not null
        primary key autoincrement,
    option_name  text default ''    not null,
    option_value text               not null,
    autoload     text default 'yes' not null
);
-- break --
create index options_autoload_{{prefix}}{{blog_id}}
    on {{prefix}}{{blog_id}}_options (autoload);
-- break --
create unique index option_name_17
    on {{prefix}}{{blog_id}}_options (option_name);
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('siteurl', '{{siteurl}}', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('home', '{{home}}', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('blogname', 'Test', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('blogdescription', '', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('users_can_register', '0', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('admin_email', 'admin@example.com', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('start_of_week', '1', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('use_balanceTags', '0', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('use_smilies', '1', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('require_name_email', '1', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('comments_notify', '1', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('posts_per_rss', '10', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('rss_use_excerpt', '0', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('mailserver_url', 'mail.example.com', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('mailserver_login', 'login@example.com', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('mailserver_pass', 'password', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('mailserver_port', '110', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('default_category', '1', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('default_comment_status', 'open', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('default_ping_status', 'open', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('default_pingback_flag', '1', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('posts_per_page', '10', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('date_format', 'F j, Y', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('time_format', 'g:i a', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('links_updated_date_format', 'F j, Y g:i a', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('comment_moderation', '0', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('moderation_notify', '1', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('permalink_structure', '/%year%/%monthnum%/%day%/%postname%/', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('rewrite_rules', 'a:96:{s:11:"^wp-json/?$";s:22:"index.php?rest_route=/";s:14:"^wp-json/(.*)?";s:33:"index.php?rest_route=/$matches[1]";s:21:"^index.php/wp-json/?$";s:22:"index.php?rest_route=/";s:24:"^index.php/wp-json/(.*)?";s:33:"index.php?rest_route=/$matches[1]";s:17:"^wp-sitemap\.xml$";s:23:"index.php?sitemap=index";s:17:"^wp-sitemap\.xsl$";s:36:"index.php?sitemap-stylesheet=sitemap";s:23:"^wp-sitemap-index\.xsl$";s:34:"index.php?sitemap-stylesheet=index";s:48:"^wp-sitemap-([a-z]+?)-([a-z\d_-]+?)-(\d+?)\.xml$";s:75:"index.php?sitemap=$matches[1]&sitemap-subtype=$matches[2]&paged=$matches[3]";s:34:"^wp-sitemap-([a-z]+?)-(\d+?)\.xml$";s:47:"index.php?sitemap=$matches[1]&paged=$matches[2]";s:47:"category/(.+?)/feed/(feed|rdf|rss|rss2|atom)/?$";s:52:"index.php?category_name=$matches[1]&feed=$matches[2]";s:42:"category/(.+?)/(feed|rdf|rss|rss2|atom)/?$";s:52:"index.php?category_name=$matches[1]&feed=$matches[2]";s:23:"category/(.+?)/embed/?$";s:46:"index.php?category_name=$matches[1]&embed=true";s:35:"category/(.+?)/page/?([0-9]{1,})/?$";s:53:"index.php?category_name=$matches[1]&paged=$matches[2]";s:17:"category/(.+?)/?$";s:35:"index.php?category_name=$matches[1]";s:44:"tag/([^/]+)/feed/(feed|rdf|rss|rss2|atom)/?$";s:42:"index.php?tag=$matches[1]&feed=$matches[2]";s:39:"tag/([^/]+)/(feed|rdf|rss|rss2|atom)/?$";s:42:"index.php?tag=$matches[1]&feed=$matches[2]";s:20:"tag/([^/]+)/embed/?$";s:36:"index.php?tag=$matches[1]&embed=true";s:32:"tag/([^/]+)/page/?([0-9]{1,})/?$";s:43:"index.php?tag=$matches[1]&paged=$matches[2]";s:14:"tag/([^/]+)/?$";s:25:"index.php?tag=$matches[1]";s:45:"type/([^/]+)/feed/(feed|rdf|rss|rss2|atom)/?$";s:50:"index.php?post_format=$matches[1]&feed=$matches[2]";s:40:"type/([^/]+)/(feed|rdf|rss|rss2|atom)/?$";s:50:"index.php?post_format=$matches[1]&feed=$matches[2]";s:21:"type/([^/]+)/embed/?$";s:44:"index.php?post_format=$matches[1]&embed=true";s:33:"type/([^/]+)/page/?([0-9]{1,})/?$";s:51:"index.php?post_format=$matches[1]&paged=$matches[2]";s:15:"type/([^/]+)/?$";s:33:"index.php?post_format=$matches[1]";s:12:"robots\.txt$";s:18:"index.php?robots=1";s:13:"favicon\.ico$";s:19:"index.php?favicon=1";s:48:".*wp-(atom|rdf|rss|rss2|feed|commentsrss2)\.php$";s:18:"index.php?feed=old";s:20:".*wp-app\.php(/.*)?$";s:19:"index.php?error=403";s:18:".*wp-register.php$";s:23:"index.php?register=true";s:32:"feed/(feed|rdf|rss|rss2|atom)/?$";s:27:"index.php?&feed=$matches[1]";s:27:"(feed|rdf|rss|rss2|atom)/?$";s:27:"index.php?&feed=$matches[1]";s:8:"embed/?$";s:21:"index.php?&embed=true";s:20:"page/?([0-9]{1,})/?$";s:28:"index.php?&paged=$matches[1]";s:41:"comments/feed/(feed|rdf|rss|rss2|atom)/?$";s:42:"index.php?&feed=$matches[1]&withcomments=1";s:36:"comments/(feed|rdf|rss|rss2|atom)/?$";s:42:"index.php?&feed=$matches[1]&withcomments=1";s:17:"comments/embed/?$";s:21:"index.php?&embed=true";s:44:"search/(.+)/feed/(feed|rdf|rss|rss2|atom)/?$";s:40:"index.php?s=$matches[1]&feed=$matches[2]";s:39:"search/(.+)/(feed|rdf|rss|rss2|atom)/?$";s:40:"index.php?s=$matches[1]&feed=$matches[2]";s:20:"search/(.+)/embed/?$";s:34:"index.php?s=$matches[1]&embed=true";s:32:"search/(.+)/page/?([0-9]{1,})/?$";s:41:"index.php?s=$matches[1]&paged=$matches[2]";s:14:"search/(.+)/?$";s:23:"index.php?s=$matches[1]";s:47:"author/([^/]+)/feed/(feed|rdf|rss|rss2|atom)/?$";s:50:"index.php?author_name=$matches[1]&feed=$matches[2]";s:42:"author/([^/]+)/(feed|rdf|rss|rss2|atom)/?$";s:50:"index.php?author_name=$matches[1]&feed=$matches[2]";s:23:"author/([^/]+)/embed/?$";s:44:"index.php?author_name=$matches[1]&embed=true";s:35:"author/([^/]+)/page/?([0-9]{1,})/?$";s:51:"index.php?author_name=$matches[1]&paged=$matches[2]";s:17:"author/([^/]+)/?$";s:33:"index.php?author_name=$matches[1]";s:69:"([0-9]{4})/([0-9]{1,2})/([0-9]{1,2})/feed/(feed|rdf|rss|rss2|atom)/?$";s:80:"index.php?year=$matches[1]&monthnum=$matches[2]&day=$matches[3]&feed=$matches[4]";s:64:"([0-9]{4})/([0-9]{1,2})/([0-9]{1,2})/(feed|rdf|rss|rss2|atom)/?$";s:80:"index.php?year=$matches[1]&monthnum=$matches[2]&day=$matches[3]&feed=$matches[4]";s:45:"([0-9]{4})/([0-9]{1,2})/([0-9]{1,2})/embed/?$";s:74:"index.php?year=$matches[1]&monthnum=$matches[2]&day=$matches[3]&embed=true";s:57:"([0-9]{4})/([0-9]{1,2})/([0-9]{1,2})/page/?([0-9]{1,})/?$";s:81:"index.php?year=$matches[1]&monthnum=$matches[2]&day=$matches[3]&paged=$matches[4]";s:39:"([0-9]{4})/([0-9]{1,2})/([0-9]{1,2})/?$";s:63:"index.php?year=$matches[1]&monthnum=$matches[2]&day=$matches[3]";s:56:"([0-9]{4})/([0-9]{1,2})/feed/(feed|rdf|rss|rss2|atom)/?$";s:64:"index.php?year=$matches[1]&monthnum=$matches[2]&feed=$matches[3]";s:51:"([0-9]{4})/([0-9]{1,2})/(feed|rdf|rss|rss2|atom)/?$";s:64:"index.php?year=$matches[1]&monthnum=$matches[2]&feed=$matches[3]";s:32:"([0-9]{4})/([0-9]{1,2})/embed/?$";s:58:"index.php?year=$matches[1]&monthnum=$matches[2]&embed=true";s:44:"([0-9]{4})/([0-9]{1,2})/page/?([0-9]{1,})/?$";s:65:"index.php?year=$matches[1]&monthnum=$matches[2]&paged=$matches[3]";s:26:"([0-9]{4})/([0-9]{1,2})/?$";s:47:"index.php?year=$matches[1]&monthnum=$matches[2]";s:43:"([0-9]{4})/feed/(feed|rdf|rss|rss2|atom)/?$";s:43:"index.php?year=$matches[1]&feed=$matches[2]";s:38:"([0-9]{4})/(feed|rdf|rss|rss2|atom)/?$";s:43:"index.php?year=$matches[1]&feed=$matches[2]";s:19:"([0-9]{4})/embed/?$";s:37:"index.php?year=$matches[1]&embed=true";s:31:"([0-9]{4})/page/?([0-9]{1,})/?$";s:44:"index.php?year=$matches[1]&paged=$matches[2]";s:13:"([0-9]{4})/?$";s:26:"index.php?year=$matches[1]";s:58:"[0-9]{4}/[0-9]{1,2}/[0-9]{1,2}/[^/]+/attachment/([^/]+)/?$";s:32:"index.php?attachment=$matches[1]";s:68:"[0-9]{4}/[0-9]{1,2}/[0-9]{1,2}/[^/]+/attachment/([^/]+)/trackback/?$";s:37:"index.php?attachment=$matches[1]&tb=1";s:88:"[0-9]{4}/[0-9]{1,2}/[0-9]{1,2}/[^/]+/attachment/([^/]+)/feed/(feed|rdf|rss|rss2|atom)/?$";s:49:"index.php?attachment=$matches[1]&feed=$matches[2]";s:83:"[0-9]{4}/[0-9]{1,2}/[0-9]{1,2}/[^/]+/attachment/([^/]+)/(feed|rdf|rss|rss2|atom)/?$";s:49:"index.php?attachment=$matches[1]&feed=$matches[2]";s:83:"[0-9]{4}/[0-9]{1,2}/[0-9]{1,2}/[^/]+/attachment/([^/]+)/comment-page-([0-9]{1,})/?$";s:50:"index.php?attachment=$matches[1]&cpage=$matches[2]";s:64:"[0-9]{4}/[0-9]{1,2}/[0-9]{1,2}/[^/]+/attachment/([^/]+)/embed/?$";s:43:"index.php?attachment=$matches[1]&embed=true";s:53:"([0-9]{4})/([0-9]{1,2})/([0-9]{1,2})/([^/]+)/embed/?$";s:91:"index.php?year=$matches[1]&monthnum=$matches[2]&day=$matches[3]&name=$matches[4]&embed=true";s:57:"([0-9]{4})/([0-9]{1,2})/([0-9]{1,2})/([^/]+)/trackback/?$";s:85:"index.php?year=$matches[1]&monthnum=$matches[2]&day=$matches[3]&name=$matches[4]&tb=1";s:77:"([0-9]{4})/([0-9]{1,2})/([0-9]{1,2})/([^/]+)/feed/(feed|rdf|rss|rss2|atom)/?$";s:97:"index.php?year=$matches[1]&monthnum=$matches[2]&day=$matches[3]&name=$matches[4]&feed=$matches[5]";s:72:"([0-9]{4})/([0-9]{1,2})/([0-9]{1,2})/([^/]+)/(feed|rdf|rss|rss2|atom)/?$";s:97:"index.php?year=$matches[1]&monthnum=$matches[2]&day=$matches[3]&name=$matches[4]&feed=$matches[5]";s:65:"([0-9]{4})/([0-9]{1,2})/([0-9]{1,2})/([^/]+)/page/?([0-9]{1,})/?$";s:98:"index.php?year=$matches[1]&monthnum=$matches[2]&day=$matches[3]&name=$matches[4]&paged=$matches[5]";s:72:"([0-9]{4})/([0-9]{1,2})/([0-9]{1,2})/([^/]+)/comment-page-([0-9]{1,})/?$";s:98:"index.php?year=$matches[1]&monthnum=$matches[2]&day=$matches[3]&name=$matches[4]&cpage=$matches[5]";s:61:"([0-9]{4})/([0-9]{1,2})/([0-9]{1,2})/([^/]+)(?:/([0-9]+))?/?$";s:97:"index.php?year=$matches[1]&monthnum=$matches[2]&day=$matches[3]&name=$matches[4]&page=$matches[5]";s:47:"[0-9]{4}/[0-9]{1,2}/[0-9]{1,2}/[^/]+/([^/]+)/?$";s:32:"index.php?attachment=$matches[1]";s:57:"[0-9]{4}/[0-9]{1,2}/[0-9]{1,2}/[^/]+/([^/]+)/trackback/?$";s:37:"index.php?attachment=$matches[1]&tb=1";s:77:"[0-9]{4}/[0-9]{1,2}/[0-9]{1,2}/[^/]+/([^/]+)/feed/(feed|rdf|rss|rss2|atom)/?$";s:49:"index.php?attachment=$matches[1]&feed=$matches[2]";s:72:"[0-9]{4}/[0-9]{1,2}/[0-9]{1,2}/[^/]+/([^/]+)/(feed|rdf|rss|rss2|atom)/?$";s:49:"index.php?attachment=$matches[1]&feed=$matches[2]";s:72:"[0-9]{4}/[0-9]{1,2}/[0-9]{1,2}/[^/]+/([^/]+)/comment-page-([0-9]{1,})/?$";s:50:"index.php?attachment=$matches[1]&cpage=$matches[2]";s:53:"[0-9]{4}/[0-9]{1,2}/[0-9]{1,2}/[^/]+/([^/]+)/embed/?$";s:43:"index.php?attachment=$matches[1]&embed=true";s:64:"([0-9]{4})/([0-9]{1,2})/([0-9]{1,2})/comment-page-([0-9]{1,})/?$";s:81:"index.php?year=$matches[1]&monthnum=$matches[2]&day=$matches[3]&cpage=$matches[4]";s:51:"([0-9]{4})/([0-9]{1,2})/comment-page-([0-9]{1,})/?$";s:65:"index.php?year=$matches[1]&monthnum=$matches[2]&cpage=$matches[3]";s:38:"([0-9]{4})/comment-page-([0-9]{1,})/?$";s:44:"index.php?year=$matches[1]&cpage=$matches[2]";s:27:".?.+?/attachment/([^/]+)/?$";s:32:"index.php?attachment=$matches[1]";s:37:".?.+?/attachment/([^/]+)/trackback/?$";s:37:"index.php?attachment=$matches[1]&tb=1";s:57:".?.+?/attachment/([^/]+)/feed/(feed|rdf|rss|rss2|atom)/?$";s:49:"index.php?attachment=$matches[1]&feed=$matches[2]";s:52:".?.+?/attachment/([^/]+)/(feed|rdf|rss|rss2|atom)/?$";s:49:"index.php?attachment=$matches[1]&feed=$matches[2]";s:52:".?.+?/attachment/([^/]+)/comment-page-([0-9]{1,})/?$";s:50:"index.php?attachment=$matches[1]&cpage=$matches[2]";s:33:".?.+?/attachment/([^/]+)/embed/?$";s:43:"index.php?attachment=$matches[1]&embed=true";s:16:"(.?.+?)/embed/?$";s:41:"index.php?pagename=$matches[1]&embed=true";s:20:"(.?.+?)/trackback/?$";s:35:"index.php?pagename=$matches[1]&tb=1";s:40:"(.?.+?)/feed/(feed|rdf|rss|rss2|atom)/?$";s:47:"index.php?pagename=$matches[1]&feed=$matches[2]";s:35:"(.?.+?)/(feed|rdf|rss|rss2|atom)/?$";s:47:"index.php?pagename=$matches[1]&feed=$matches[2]";s:28:"(.?.+?)/page/?([0-9]{1,})/?$";s:48:"index.php?pagename=$matches[1]&paged=$matches[2]";s:35:"(.?.+?)/comment-page-([0-9]{1,})/?$";s:48:"index.php?pagename=$matches[1]&cpage=$matches[2]";s:24:"(.?.+?)(?:/([0-9]+))?/?$";s:47:"index.php?pagename=$matches[1]&page=$matches[2]";}', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('hack_file', '0', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('blog_charset', 'UTF-8', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('moderation_keys', '', 'no');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('active_plugins', 'a:0:{}', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('category_base', '', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('ping_sites', 'http://rpc.pingomatic.com/', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('comment_max_links', '2', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('gmt_offset', '0', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('default_email_category', '1', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('recently_edited', '', 'no');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('template', '{{template}}', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('stylesheet', '{{stylesheet}}', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('comment_registration', '0', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('html_type', 'text/html', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('use_trackback', '0', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('default_role', 'subscriber', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('db_version', '53496', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('uploads_use_yearmonth_folders', '1', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('upload_path', '', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('blog_public', '1', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('default_link_category', '2', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('show_on_front', 'posts', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('tag_base', '', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('show_avatars', '1', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('avatar_rating', 'G', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('upload_url_path', '', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('thumbnail_size_w', '150', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('thumbnail_size_h', '150', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('thumbnail_crop', '1', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('medium_size_w', '300', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('medium_size_h', '300', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('avatar_default', 'mystery', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('large_size_w', '1024', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('large_size_h', '1024', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('image_default_link_type', 'none', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('image_default_size', '', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('image_default_align', '', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('close_comments_for_old_posts', '0', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('close_comments_days_old', '14', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('thread_comments', '1', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('thread_comments_depth', '5', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('page_comments', '0', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('comments_per_page', '50', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('default_comments_page', 'newest', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('comment_order', 'asc', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('sticky_posts', 'a:0:{}', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('widget_categories', 'a:0:{}', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('widget_text', 'a:0:{}', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('widget_rss', 'a:0:{}', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('uninstall_plugins', 'a:0:{}', 'no');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('timezone_string', '', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('page_for_posts', '0', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('page_on_front', '0', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('default_post_format', '0', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('link_manager_enabled', '0', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('finished_splitting_shared_terms', '1', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('site_icon', '0', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('medium_large_size_w', '768', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('medium_large_size_h', '0', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('wp_page_for_privacy_policy', '0', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('show_comments_cookies_opt_in', '1', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('admin_email_lifespan', '1705505686', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('disallowed_keys', '', 'no');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('comment_previously_approved', '1', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('auto_plugin_theme_update_emails', 'a:0:{}', 'no');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('auto_update_core_dev', 'enabled', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('auto_update_core_minor', 'enabled', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('auto_update_core_major', 'enabled', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('wp_force_deactivated_plugins', 'a:0:{}', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('WPLANG', 'en_US', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('{{prefix}}{{blog_id}}user_roles', 'a:5:{s:13:"administrator";a:2:{s:4:"name";s:13:"Administrator";s:12:"capabilities";a:61:{s:13:"switch_themes";b:1;s:11:"edit_themes";b:1;s:16:"activate_plugins";b:1;s:12:"edit_plugins";b:1;s:10:"edit_users";b:1;s:10:"edit_files";b:1;s:14:"manage_options";b:1;s:17:"moderate_comments";b:1;s:17:"manage_categories";b:1;s:12:"manage_links";b:1;s:12:"upload_files";b:1;s:6:"import";b:1;s:15:"unfiltered_html";b:1;s:10:"edit_posts";b:1;s:17:"edit_others_posts";b:1;s:20:"edit_published_posts";b:1;s:13:"publish_posts";b:1;s:10:"edit_pages";b:1;s:4:"read";b:1;s:8:"level_10";b:1;s:7:"level_9";b:1;s:7:"level_8";b:1;s:7:"level_7";b:1;s:7:"level_6";b:1;s:7:"level_5";b:1;s:7:"level_4";b:1;s:7:"level_3";b:1;s:7:"level_2";b:1;s:7:"level_1";b:1;s:7:"level_0";b:1;s:17:"edit_others_pages";b:1;s:20:"edit_published_pages";b:1;s:13:"publish_pages";b:1;s:12:"delete_pages";b:1;s:19:"delete_others_pages";b:1;s:22:"delete_published_pages";b:1;s:12:"delete_posts";b:1;s:19:"delete_others_posts";b:1;s:22:"delete_published_posts";b:1;s:20:"delete_private_posts";b:1;s:18:"edit_private_posts";b:1;s:18:"read_private_posts";b:1;s:20:"delete_private_pages";b:1;s:18:"edit_private_pages";b:1;s:18:"read_private_pages";b:1;s:12:"delete_users";b:1;s:12:"create_users";b:1;s:17:"unfiltered_upload";b:1;s:14:"edit_dashboard";b:1;s:14:"update_plugins";b:1;s:14:"delete_plugins";b:1;s:15:"install_plugins";b:1;s:13:"update_themes";b:1;s:14:"install_themes";b:1;s:11:"update_core";b:1;s:10:"list_users";b:1;s:12:"remove_users";b:1;s:13:"promote_users";b:1;s:18:"edit_theme_options";b:1;s:13:"delete_themes";b:1;s:6:"export";b:1;}}s:6:"editor";a:2:{s:4:"name";s:6:"Editor";s:12:"capabilities";a:34:{s:17:"moderate_comments";b:1;s:17:"manage_categories";b:1;s:12:"manage_links";b:1;s:12:"upload_files";b:1;s:15:"unfiltered_html";b:1;s:10:"edit_posts";b:1;s:17:"edit_others_posts";b:1;s:20:"edit_published_posts";b:1;s:13:"publish_posts";b:1;s:10:"edit_pages";b:1;s:4:"read";b:1;s:7:"level_7";b:1;s:7:"level_6";b:1;s:7:"level_5";b:1;s:7:"level_4";b:1;s:7:"level_3";b:1;s:7:"level_2";b:1;s:7:"level_1";b:1;s:7:"level_0";b:1;s:17:"edit_others_pages";b:1;s:20:"edit_published_pages";b:1;s:13:"publish_pages";b:1;s:12:"delete_pages";b:1;s:19:"delete_others_pages";b:1;s:22:"delete_published_pages";b:1;s:12:"delete_posts";b:1;s:19:"delete_others_posts";b:1;s:22:"delete_published_posts";b:1;s:20:"delete_private_posts";b:1;s:18:"edit_private_posts";b:1;s:18:"read_private_posts";b:1;s:20:"delete_private_pages";b:1;s:18:"edit_private_pages";b:1;s:18:"read_private_pages";b:1;}}s:6:"author";a:2:{s:4:"name";s:6:"Author";s:12:"capabilities";a:10:{s:12:"upload_files";b:1;s:10:"edit_posts";b:1;s:20:"edit_published_posts";b:1;s:13:"publish_posts";b:1;s:4:"read";b:1;s:7:"level_2";b:1;s:7:"level_1";b:1;s:7:"level_0";b:1;s:12:"delete_posts";b:1;s:22:"delete_published_posts";b:1;}}s:11:"contributor";a:2:{s:4:"name";s:11:"Contributor";s:12:"capabilities";a:5:{s:10:"edit_posts";b:1;s:4:"read";b:1;s:7:"level_1";b:1;s:7:"level_0";b:1;s:12:"delete_posts";b:1;}}s:10:"subscriber";a:2:{s:4:"name";s:10:"Subscriber";s:12:"capabilities";a:2:{s:4:"read";b:1;s:7:"level_0";b:1;}}}', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('post_count', '1', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('widget_block', 'a:6:{i:2;a:1:{s:7:"content";s:19:"<!-- wp:search /-->";}i:3;a:1:{s:7:"content";s:154:"<!-- wp:group --><div class="wp-block-group"><!-- wp:heading --><h2>Recent Posts</h2><!-- /wp:heading --><!-- wp:latest-posts /--></div><!-- /wp:group -->";}i:4;a:1:{s:7:"content";s:227:"<!-- wp:group --><div class="wp-block-group"><!-- wp:heading --><h2>Recent Comments</h2><!-- /wp:heading --><!-- wp:latest-comments {"displayAvatar":false,"displayDate":false,"displayExcerpt":false} /--></div><!-- /wp:group -->";}i:5;a:1:{s:7:"content";s:146:"<!-- wp:group --><div class="wp-block-group"><!-- wp:heading --><h2>Archives</h2><!-- /wp:heading --><!-- wp:archives /--></div><!-- /wp:group -->";}i:6;a:1:{s:7:"content";s:150:"<!-- wp:group --><div class="wp-block-group"><!-- wp:heading --><h2>Categories</h2><!-- /wp:heading --><!-- wp:categories /--></div><!-- /wp:group -->";}s:12:"_multiwidget";i:1;}', 'yes');
-- break --
INSERT INTO {{prefix}}{{blog_id}}_options (option_name, option_value, autoload) VALUES ('sidebars_widgets', 'a:4:{s:19:"wp_inactive_widgets";a:0:{}s:9:"sidebar-1";a:3:{i:0;s:7:"block-2";i:1;s:7:"block-3";i:2;s:7:"block-4";}s:9:"sidebar-2";a:2:{i:0;s:7:"block-5";i:1;s:7:"block-6";}s:13:"array_version";i:3;}', 'yes');
-- break --
create table {{prefix}}{{blog_id}}_postmeta
(
    meta_id    integer             not null
        primary key autoincrement,
    post_id    integer default '0' not null,
    meta_key   text    default NULL,
    meta_value text
);
-- break --
create index postmeta_meta_key_{{prefix}}{{blog_id}}
    on {{prefix}}{{blog_id}}_postmeta (meta_key);
-- break --
create index postmeta_post_id_{{prefix}}{{blog_id}}
    on {{prefix}}{{blog_id}}_postmeta (post_id);
-- break --
INSERT INTO {{prefix}}{{blog_id}}_postmeta (post_id, meta_key, meta_value) VALUES (2, '_wp_page_template', 'default');
-- break --
create table {{prefix}}{{blog_id}}_posts
(
    ID                    integer                               not null
        primary key autoincrement,
    post_author           integer default '0'                   not null,
    post_date             text    default '0000-00-00 00:00:00' not null,
    post_date_gmt         text    default '0000-00-00 00:00:00' not null,
    post_content          text                                  not null,
    post_title            text                                  not null,
    post_excerpt          text                                  not null,
    post_status           text    default 'publish'             not null,
    comment_status        text    default 'open'                not null,
    ping_status           text    default 'open'                not null,
    post_password         text    default ''                    not null,
    post_name             text    default ''                    not null,
    to_ping               text                                  not null,
    pinged                text                                  not null,
    post_modified         text    default '0000-00-00 00:00:00' not null,
    post_modified_gmt     text    default '0000-00-00 00:00:00' not null,
    post_content_filtered text                                  not null,
    post_parent           integer default '0'                   not null,
    guid                  text    default ''                    not null,
    menu_order            integer default '0'                   not null,
    post_type             text    default 'post'                not null,
    post_mime_type        text    default ''                    not null,
    comment_count         integer default '0'                   not null
);
-- break --
create index posts_post_author_{{prefix}}{{blog_id}}
    on {{prefix}}{{blog_id}}_posts (post_author);
-- break --
create index posts_post_name_{{prefix}}{{blog_id}}
    on {{prefix}}{{blog_id}}_posts (post_name);
-- break --
create index posts_post_parent_{{prefix}}{{blog_id}}
    on {{prefix}}{{blog_id}}_posts (post_parent);
-- break --
create index posts_type_status_date_{{prefix}}{{blog_id}}
    on {{prefix}}{{blog_id}}_posts (post_type, post_status, post_date, ID);
-- break --
INSERT INTO {{prefix}}{{blog_id}}_posts (post_author, post_date, post_date_gmt, post_content, post_title, post_excerpt, post_status, comment_status, ping_status, post_password, post_name, to_ping, pinged, post_modified, post_modified_gmt, post_content_filtered, post_parent, guid, menu_order, post_type, post_mime_type, comment_count) VALUES (2, '2023-07-21 15:34:46', '2023-07-21 15:34:46', 'Welcome to <a href="http://example.com/">Test</a>. This is your first post. Edit or delete it, then start writing!', 'Hello world!', '', 'publish', 'open', 'open', '', 'hello-world', '', '', '2023-07-21 15:34:46', '2023-07-21 15:34:46', '', 0, 'http://test1.example.com/?p=1', 0, 'post', '', 1);
-- break --
INSERT INTO {{prefix}}{{blog_id}}_posts (post_author, post_date, post_date_gmt, post_content, post_title, post_excerpt, post_status, comment_status, ping_status, post_password, post_name, to_ping, pinged, post_modified, post_modified_gmt, post_content_filtered, post_parent, guid, menu_order, post_type, post_mime_type, comment_count) VALUES (2, '2023-07-21 15:34:46', '2023-07-21 15:34:46', '<!-- wp:paragraph -->
<p>This is an example page. It''s different from a blog post because it will stay in one place and will show up in your site navigation (in most themes). Most people start with an About page that introduces them to potential site visitors. It might say something like this:</p>
<!-- /wp:paragraph -->

<!-- wp:quote -->
<blockquote class="wp-block-quote"><p>Hi there! I''m a bike messenger by day, aspiring actor by night, and this is my website. I live in Los Angeles, have a great dog named Jack, and I like pi&#241;a coladas. (And gettin'' caught in the rain.)</p></blockquote>
<!-- /wp:quote -->

<!-- wp:paragraph -->
<p>...or something like this:</p>
<!-- /wp:paragraph -->

<!-- wp:quote -->
<blockquote class="wp-block-quote"><p>The XYZ Doohickey Company was founded in 1971, and has been providing quality doohickeys to the public ever since. Located in Gotham City, XYZ employs over 2,000 people and does all kinds of awesome things for the Gotham community.</p></blockquote>
<!-- /wp:quote -->

<!-- wp:paragraph -->
<p>As a new WordPress user, you should go to <a href="http://test1.example.com/wp-admin/">your dashboard</a> to delete this page and create new pages for your content. Have fun!</p>
<!-- /wp:paragraph -->', 'Sample Page', '', 'publish', 'closed', 'open', '', 'sample-page', '', '', '2023-07-21 15:34:46', '2023-07-21 15:34:46', '', 0, 'http://test1.example.com/?page_id=2', 0, 'page', '', 0);
-- break --
create table {{prefix}}{{blog_id}}_term_relationships
(
    object_id        integer default 0 not null,
    term_taxonomy_id integer default 0 not null,
    term_order       integer default 0 not null,
    primary key (object_id, term_taxonomy_id)
);
-- break --
create index term_relationships_term_taxonomy_id_{{prefix}}{{blog_id}}
    on {{prefix}}{{blog_id}}_term_relationships (term_taxonomy_id);
-- break --
INSERT INTO {{prefix}}{{blog_id}}_term_relationships (object_id, term_taxonomy_id, term_order) VALUES (1, 1, 0);
-- break --
create table {{prefix}}{{blog_id}}_term_taxonomy
(
    term_taxonomy_id integer            not null
        primary key autoincrement,
    term_id          integer default 0  not null,
    taxonomy         text    default '' not null,
    description      text               not null,
    parent           integer default 0  not null,
    count            integer default 0  not null
);
-- break --
create index term_taxonomy_taxonomy_{{prefix}}{{blog_id}}
    on {{prefix}}{{blog_id}}_term_taxonomy (taxonomy);
-- break --
create unique index term_id_taxonomy_13
    on {{prefix}}{{blog_id}}_term_taxonomy (term_id, taxonomy);
-- break --
INSERT INTO {{prefix}}{{blog_id}}_term_taxonomy (term_id, taxonomy, description, parent, count) VALUES (1, 'category', '', 0, 1);
-- break --
create table {{prefix}}{{blog_id}}_termmeta
(
    meta_id    integer             not null
        primary key autoincrement,
    term_id    integer default '0' not null,
    meta_key   text    default NULL,
    meta_value text
);
-- break --
create index termmeta_meta_key_{{prefix}}{{blog_id}}
    on {{prefix}}{{blog_id}}_termmeta (meta_key);
-- break --
create index termmeta_term_id_{{prefix}}{{blog_id}}
    on {{prefix}}{{blog_id}}_termmeta (term_id);
-- break --
create table {{prefix}}{{blog_id}}_terms
(
    term_id    integer            not null
        primary key autoincrement,
    name       text    default '' not null,
    slug       text    default '' not null,
    term_group integer default 0  not null
);
-- break --
create index terms_name_{{prefix}}{{blog_id}}
    on {{prefix}}{{blog_id}}_terms (name);
-- break --
create index terms_slug_{{prefix}}{{blog_id}}
    on {{prefix}}{{blog_id}}_terms (slug);
-- break --
INSERT INTO {{prefix}}{{blog_id}}_terms (name, slug, term_group) VALUES ('Uncategorized', 'uncategorized', 0);
